.texto_error {
    width: 100%;
    margin: 0 auto;
    height: 2em;
    font-size: 40px;
    font-weight: 600;
}

.imagen {
    height: auto;
    margin: 0 auto;
    opacity:  0.5;
}

.error {
    margin: 0 auto;
    font-size: 80px;
    color: rgb(88, 137, 97);
}

